*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
    font-family:"Space Mono" ;
}

.clock{
    background-color: grey;
    width: 250px;
    border-radius: 0px 0px 20px 0px;
    box-shadow: 4px 3px 10px 4px ;
}

.begin{
    margin: 30px;
    border-top: solid 2px black;
}
.begin>h2{
    margin: 50px;
}

.explication{
    margin: 60px 60px 60px 100px;

}

.final{
    margin: 60px 60px 60px 100px;

}


.introductionModal{
    margin-top: 180px;
    background-color: rgba(202, 215, 215, 0.942);
    background-size: cover;
    position: fixed;
    height: 50%;
    width: 95%;
    top:2.5%;
    left:2.5%;
}

.introductionModal h2{
    margin: 90px;
    text-align: center;
}

.introductionModal h3{
    margin-right: 300px ;
    text-align: right;
}

.introductionModal button{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
}
.hideModal{
    opacity: 0;
    z-index: -1;
}
.closemodal{
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    border-color: transparent;
}